# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.sum

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
*.exe

# Certificates (不要上传证书)
certs/
